.inline {
    display: inline;
}

.sidebar {
    position: fixed;
}

.controlSelect {
    left: 8%;
    position: fixed;
}

.selected {
    background-color: aqua;
}

#conf-container {
    margin-left: 12%;
    width: 85%;
    height: 75%;
    position: fixed;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
} 
